body {
    background: hwb(299 2% 29% / 0.299);
    color: hsla(284, 79%, 30%, 0.999);
    padding: 20px;
    font-family:cursive;
    border-radius:100px;
    
}
#all-contents {
  max-width: 800px;
    margin: auto;
}


/* navigation menu */
nav {
    background: rgba(109, 13, 135, 0.719);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-style: dotted;
    border-color: white;
    border-radius: 25px;

}
h1 {
    display: flex;
    align-items: center;
    color: hwb(0 100% 0%);
    flex: 1;
    margin: 0;
    border-radius: 100px;
}
#nav-ul {
    list-style-image:unset;

}
.nav-li {
    display: inline-block;
    padding: 0 10px;

}
a {
    text-decoration:underline;
    color: hwb(0 97% 3%);
    
  

}

/* main container area beneath menu */
main {
    background: rgba(240, 168, 230, 0.56);
    display: flex;
    border-style: dotted;
    border-radius: 50px;
    border-color:hsl(0, 0%, 100%)
  
}
#li {
  border-style: dotted;

}
.sidebar {
    margin-right: 25px;
    padding: 25px;
}
.sidebar-img {
    width: 270px;
    line-height:500px;
}
.content {
    flex: 1;
    padding: 25px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
 h3 {
  animation: 1s glow ease-in-out infinite alternate;
  
 }
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: hsl(0, 0%, 0%);
            font-family:monospace
        }
        
        }
        }
        #portfolio {
            list-style-type:circle;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 20px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration:wavy;
            color: #454545;
        }
                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                          border-style:double;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: none;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 34px;
                        }
          
                        .content {
                          align-content:baseline;
                          justify-content: center;
                        }
                    }